# Google App Engine generated folder
appengine-generated/
Figure1/Code_Fig1/.RData
Figure1/Figure_panel/~$Fig1.pptx
Figure1/Base_code_Fig1/.RData
Figure2/.Rhistory
Figure1/Data_generator_Fig1/.RData
Figure1/Data_generator_Fig1/.Rhistory
Figure4/Fig_generator_Fig4/.Rhistory
